<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>

<body>
    <!-- to load html content we have to use hyphen after the percent  -->
    <%- include('common/header');%>
        <!-- to show the text we have to use equal to  -->
        <h1>Welcome <%= user.name %>
        </h1>
        <H2>Email: <%= user.email%>
        </H2>
        <h2>country: <%= user.country%>
        </h2>
        <ul>
            <% user.skills.forEach((item)=>{ %>
                <li>
                    <%= item %>
                </li>
                <%}) %>
        </ul>
</body>

</html>